.inwentaryzacja {
  height: 100%;
}

.menuWrapper {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 0;
}

.menu,
.navigation {
  align-items: center;
  display: flex;
  gap: 20px;
}

.menu {
  justify-content: space-between;
}

.logo {
  cursor: default;
  font-size: 24px;
  font-weight: 500;
}

.navigation {
  justify-content: center;
}

.navigation .item {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.navigation .item.active {
  text-decoration-line: underline;
}
