.overlay {
  bottom: 20px;
  color: white;
  font-size: 24px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.resetScanner {
  font-size: 20px;
  cursor: pointer;
  background-color: #003228;
  color: white;
  display: inline-block;
  width: auto;
  margin: auto 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.scannerWrapper {
  margin: 0 auto;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .scannerWrapper {
    height: 100%;
  }
}

@media (min-width: 769px) {
  .scannerWrapper {
    max-width: 60%;
    max-height: 100%;
  }
}
