.form {
  width: 100%;
  text-align: center;
}

.form :global(.ant-form) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form :global(.ant-form-item) {
  margin-bottom: 0;
}

@media (max-width: 640px) {
  .form {
    order: 3;
  }
}
