@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-primary: #003228;
  --color-secondary: #c8f0b4;

  --container-width: 1280px;

  --shadow_S0: 0px 2px 8px -6px rgba(24, 39, 75, 0.02),
    0px 7px 16px -4px rgba(24, 39, 75, 0.04);
}
