img {
  width: 100px;
}

.search {
  text-align: center;
  height: 85vh;
}

.qrReaderWrapper {
  margin: 0 auto;
  max-width: 800px;
}

.btnResetQR {
  font-size: 20px;
  cursor: pointer;
  background-color: #003228;
  color: white;
  display: inline-block;
  width: auto;
  margin: auto 0;
  padding: 5px 10px;
  border-radius: 5px;
}
