body {
  background-image:  url("img/budynek.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: sans-serif;
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 35px;
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

button {
  background-color: #1ba122;
  padding: 17px;
  margin: 5px;
  text-align: center;
  border: none;
  color: white;
  border-radius: 20px;
}

input {
  border-radius: 20px;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
