.auth {
  height: 100%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-logo {
  min-width: 170px;
}

.auth-header {
  flex-grow: 1;
  max-width: 1000px;
  text-align: center;
  margin: 20px;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px;
}

#btn-submit {
  background-color: #00261e;
  padding: 17px;
  margin-top: 22px;
  text-align: center;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#btn-submit:hover {
  background-color: #044335;
}

input {
  height: 22px;
}
